@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico|Righteous|Roboto+Condensed|Ubuntu');
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}



.header1{
    background-size: cover;
    background-attachment: fixed;
}
.header1 .text-center{
    padding: 10% 0;
    background: rgba(0,0,0,.4);
}
@media(max-width:400px){
    .header1 .text-center h1{
        font-size: 1.75em;
    }
}
.header1 h1{
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    font-family: 'Merienda', cursive;
    text-shadow: 0 5px 10px #fff;
}
.header1 p{
    max-width: 600px;
    width: 70%;
    margin: 10% auto 0;
    color: #fff;
    font-size: 26px;
    background: rgba(0,0,0,.4);
    padding: 10px;
    border-radius: 10px;
    font-family: 'Merienda', cursive;
}




.section-1 .heading-1{
    margin-top: 8%;
    font-family: 'Merienda', cursive;
}
.section-1 .heading-2{
    margin-bottom: 5%;
    font-size: 28px;
}
.section-1 .para-1{
    padding: 0 10%;
    margin-bottom: 5%;
}
.section-1{
    padding-bottom: 2%;
}
.section-1 img{
    width: 100%;
    border-radius: 10px;
}
.section-1 .row{
    margin: 10px 0;
    padding: 20px 0;
    box-shadow: 0 5px 15px rgba(0,0,0,.4);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.section-1 .row .img{
    overflow: hidden;
    transition: all .5s;
    border-radius: 10px;
}
.section-1 .row .img img{
    transition: all .5s;
}
.section-1 .row .img:hover img{
    transform: rotateZ(5deg) scale(1.2);
    transition: all .5s;
}

.section-1 .heading-1{
    font-weight: bold;
}
.section-1 .para-1{
    font-size: 18px;
}
.section-1 .content h4{
    font-weight: bold;
}
.section-1 .row p{
        text-align: justify;
    }
@media(max-width:400px){
    .section-1 .row{
        margin: 50px 0;
    }
}


.section-2{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-2 .container-fluid{
    background: rgba(0,0,0,.4);
    padding: 5% 0;
}
.section-2 .heading-1{
    font-weight: bold;
    font-family: 'Merienda', cursive;
    color: #f00;
    font-family: 'Merienda', cursive;
}
.section-2 .para-1{
    padding: 0 10%;
    margin-bottom: 5%;
    font-size: 26px;
    color: #ffff06;
}
.section-2 .card-text, .para-1{
    color: rgba(0,0,0,.6);
    text-align: justify;
    font-size: .9em;
}
.section-2 .card{
    margin-bottom: 5%;
}
.section-2 .col-lg-3 .card{
    transition: .3s;
    box-shadow: 0 5px 10px rgba(0,0,0,.3);
}
.section-2 .col-lg-3:hover .card{
    transform: scale(1.05);
    transition: .3s;
    box-shadow: 0 5px 10px rgba(0,0,0,.8);
}





.section-3{
    padding: 10% 0;
}
.section-3 .row,.section-3 .row p{
    text-align: center;
}
.section-3 .mentor-img{
    padding: 20%;
}
.section-3 .mentor img{
    width: 100%;
}
.section-3 .cards .col .card{
    margin: 0;
    padding: 0;
}
.section-3 .cards .col{
    padding: 5px;
}
.section-3 .row h4{
    text-align: center;
    margin-top: 8%;
    font-size: .8em;
}
.section-3 .cards .card-body{
    padding: 0;
}
.mentor-img{
    margin: 0;
    padding: 0;
}
.mentor-img img{
    width: 100%;
    height: 100%;
}
.mentor h3{
    margin: 0;
    padding: 0;
}
.section-3 .col1,.section-3 .col2{
    border: 2px solid rgba(0,0,0,.7);
}
.section-3 .mentor .img{
    position: relative;
}
.section-3 .mentor .one,.section-3 .mentor .two,.section-3 .mentor .three{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0,0,0,.5);
    transition: .5s;
}
.section-3 .mentor:hover .one{
    border: 5px solid rgba(0,0,0,.5);
}
.section-3 .mentor:hover .two{
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    width: 95%;
    height: 95%;
    border: 3px solid rgba(0,0,0,.5);
}
.section-3 .mentor:hover .three{
    position: absolute;
    top: 4.5%;
    left: 4.5%;
    width: 93%;
    height: 93%;
    border: 3px solid rgba(0,0,0,.5);
}
.section-3 .mentor .img{
    overflow: hidden;
}
.section-3 .mentor img{
    transition: .5s;
}
.section-3 .mentor:hover img{
    transform: scale(1.1);
    transition: .5s;
}